<div cg-busy="{ promise: promise }">
    <div class="login">
        <a class="hiddenanchor" id="signup"></a>
        <a class="hiddenanchor" id="signin"></a>
        <div class="login_wrapper">
            <div id="register" class="animate form registration_form">
                <section class="login_content">
                    <form>
                        <h1>Create Account</h1>
                        <div>
                            <input type="text" class="form-control" placeholder="Username" required="" ng-model="username" />
                        </div>
                        <div>
                            <textarea class="form-control" placeholder="Phase" required="" rows="3" ng-model="phase">
                            	
                            </textarea>
                        </div>
                        <div>
                            <a class="btn btn-default submit" ng-click="register()">Submit</a>
                        </div>
                        <div class="clearfix"></div>
                        <div class="separator">
                            <div class="clearfix"></div>
                            <br />
                            <div>
                                <h1><i class="fa fa-paw"></i> SpeakOut</h1>
                            </div>
                        </div>
                    </form>
                </section>
            </div>
        </div>
    </div>
</div>