<div cg-busy="{ promise: promise }">
    <div uib-alert ng-repeat="alert in alerts" ng-class="'alert-' + (alert.type || 'warning')" close="closeAlert($index)" dismiss-on-timeout="{{ alertDismissTimeout }}">{{alert.msg}}</div>
    <div class="login">
        <div class="login_wrapper">
            <div id="register" class="animate form registration_form">
                <section ng-if="isUserRegistered" class="login_content">
                    <form>
                        <h1>Welcome back!</h1>
                        <h1><strong>{{ user.username }}</strong></h1>
                        <h5>You have <strong>{{ user.balance }}</strong> coins!</h5>
                        <div>
                            <a class="btn btn-default" ng-click="enter()" ng-disabled="!isContractReady">Enter</a>
                        </div>
                    </form>
                </section>
                <section ng-if="!isUserRegistered" class="login_content">
                    <form>
                        <h1>Create Account</h1>
                        <div>
                            <input type="text" class="form-control" placeholder="Username" required="" ng-model="user.username" />
                        </div>
                        <div>
                            <a class="btn btn-default submit" ng-click="register()" ng-disabled="!isContractReady">Submit</a>
                        </div>
                        <div class="clearfix"></div>
                        <div class="separator">
                            <div class="clearfix"></div>
                            <br />
                            <div>
                                <h1><i class="fa fa-paw"></i> SpeakOut</h1>
                            </div>
                        </div>
                    </form>
                </section>
            </div>
        </div>
    </div>
</div>