<div cg-busy="{ promise: promise }">
    <div class="fix-title-bar">
        <div class="navbar-header">Topics</div>
        <div class="right-panel" ng-click="showSaveTopicDialog(null)">
            <i class="fas fa-plus-square"></i> Topic
        </div>
    </div>
    <div class="fix-content">
		<!--
		<ul class="nav nav-pills" ng-repeat="category in categories">
			<li><a ng-click="" toggle="tab">{{ category.name }}</a></li>
        </ul>
		-->
        <div uib-alert ng-repeat="alert in alerts" ng-class="'alert-' + (alert.type || 'warning')" close="closeAlert($index)" dismiss-on-timeout="{{ alertDismissTimeout }}">{{alert.msg}}</div>
        <div class="topic_row_empty" ng-if="!topics || topics.length == 0" ng-click="showSaveTopicDialog(null)">
            Post a new topic now.
        </div>
        <div class="topic_row" ng-repeat="topic in topics" ng-click="showTopicDetail(topic)">
            <div class="topic_index">{{ $index + 1 }}</div>
            <div class="topic_title">{{ topic.title }}</div>
            <div class="topic_author">{{ topic.authorName }}</div>
            <div class="topic_created">{{ topic.createdAt | date: 'yyyy-MM-dd HH:mm:ss' }}</div>
        </div>
    </div>
    <script id="SaveTopicDialog.html" type="text/ng-template">
        <div class="modal-header">
            <h3 class="modal-title">New Topic</h3>
        </div>
        <div class="modal-body">
            <form>
                <div class="form-group">
                    <div class="topic_note">Post a new topic will get <b>10</b> coins reward from us. And if someone like your topic, he/she may transfer coins to you. Get more coins and you may get another big surpise ;-).</div>
                </div>
                <div class="form-group">
                    <label for="saveTopicDialogTitle">Title</label>
                    <input id="saveTopicDialogTitle" type="text" class="form-control" placeholder="Title" ng-model="topic.title" />
                </div>
                <div class="form-group">
                    <label for="saveTopicDialogContent">Content</label>
                    <textarea id="saveTopicDialogContent" type="text" class="form-control" placeholder="Content" rows="3" ng-model="topic.content"></textarea>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-success" type="button" ng-click="ok()">Save</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
    </script>
</div>
